.blue-banner {
  background-color: #3C7A93; /* Blue color */
  color: white; /* Text color */
  padding: 20px 80px; /* Add vertical padding */
  justify-content: center;
  // text-align: center;
}

.logo-text {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.paw-icon {
  font-size: 36px; /* Match the size of the text */
  margin-left: 5px; /* Add a small space between text and icon */
}
