.background-index {
  background-color: #3C7A93;
  height: 100%;
  width: 100%;
}

.row {
  margin: 0 auto;
}

.card-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body {
  justify-content: center;
  align-items: center;
}

.card.clickable-card {
  display: inline-block; // this will need to be changed onces others are added into the seeds
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 20px;
}

.card.clickable-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.clickable-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  justify-content: center;
  align-items: center;
}

.bg-warning {
  background-color: #F4A261 !important;
}

// Container for all dog cards
.dog-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.dog-cards {
  background-color: #F4F1E6;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  margin-top: 40px;
  padding-bottom: 10px;
}

// Individual dog card
.dog-card {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #f8f9fa;
}

.dog-card-show {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

// Photo section of the card
.dog-card-image {
  position: relative;
}

.dog-card-image:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

// Footer section with name and buttons
.dog-card-footer {
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dog-card-actions {
  display: flex;
  gap: 10px;
}

@media (max-width: 992px) {
  .dog-card {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .dog-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .dog-card {
    flex: 1 1 100%;
  }
}
