.flatpickr-day.selected {
  background: #2a9d8f;
  color: white;
}
.flatpickr-day:hover {
  background: #F4A261; /* Lighter blue background */
  color: white; /* Blue text */
}

.flatpickr-day {
  color: #E76F51;
}
