.bg-light {
  background-color: #3C7A93 !important;
}

.profile-pic {
  width: 35px; /* Set the desired size */
  height: 35px; /* Same as width for a perfect circle */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image scales properly within the circle */
  border: 2px solid #ccc; /* Optional: Adds a border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow */
}

.rent-a-paw-title {
  text-decoration: none;
  font-size: xx-large;
  transition: 0.3s;
  font-family: Love Ya Like A Sister;
  color: white;
}

.rent-a-paw-title:hover {
  transform: scale(1.1);
}

.nvbr-drop-style {
  text-decoration: none;
  font-size: medium;
  transition: 0.3s;
  font-family: Delius Swash Caps;
  color: white;
}

.nvbr-drop {
  margin-left: 15px;
}
